@charset "UTF-8";

body {
  background: #f0f0f0;
  font-family: "\30D2\30E9\30AE\30CE\4E38\30B4   Pro W4", "\30D2\30E9\30AE\30CE\4E38\30B4   Pro", "Hiragino Maru Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "HG\4E38\FF7A\FF9E\FF7C\FF6F\FF78M-PRO", "HGMaruGothicMPRO";
}

nav {
  background-color: powderblue;
}

section {
  color: #3f3f3f;
}

.btn-border {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: powderblue;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.4s;
}

.btn-border:hover {
  background-color: white;
  border-color: powderblue;
  color: powderblue;
}

.btn-border2 {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 10px;
  background-color: powderblue;
  border: 1px solid #CCCCCC;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn-border2:hover {
  background-color: white;
  border-color: powderblue;
  color: powderblue;
}

.dotline {
  border-top: 1px dashed #bbb;
  width: 100%;
  text-align: center;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  text-align: center;
}

#input_plural {
  margin: 10px 0;
}

#input_plural input.form-control {
  display: inline-block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
}

#input_plural input.pluralBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

table.row th,
table.row td {
  width: 100%;
  display: block;
}

.table01 {
  padding: 10px 20px;
}

.table02 {
  padding: 10px;
}

#remindAt_form {
  display: none;
}

#remindAt_return {
  display: none;
}

.result_box {
  border: 6px double powderblue;
  background: #fff;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  display: block;
}

